---
import ExperienceItem from './ExperienceItem.astro';


const EXPERIENCE = [
	{
		title: 'Scripting Jr Executive',
		company: 'Kantar Millward Brown',
		init_date: 'Agosto 2023',
		end_date: 'Septiembre 2024',
		description: 'Desarrollo de scripts enfocados en la creación de encuestas para la recopilación y análisis de datos, proporcionando insights valiosos a través de la automatización de procesos. Utilización de herramientas avanzadas de programación para optimizar tareas y mejorar la eficiencia en la toma de decisiones de negocio.',
	},
	{
		title: 'Instructor y Subdirector - Software Libre',
		company: 'Grupo Libre Universidad Distrital - GLUD',
		init_date: 'Agosto 2023',
		end_date: 'Actualidad',
		description: 'Responsable de la dirección de la rama docente en el grupo, promoviendo la enseñanza de tecnologías libres y la filosofía de código abierto. Gestión de la página web del grupo, implementada con metodología FDD. Capacitación en herramientas de software libre como GNU/Linux, Bash y Docker, facilitando el aprendizaje práctico y fomentando la participación en proyectos colaborativos.',
	},
	{
		title: 'Desarrollador Fullstack - Aplicativo de Música',
		company: 'Freelance',
		init_date: 'Mayo 2023',
		end_date: 'Agosto 2023',
		description: 'Creación de un aplicativo web para la gestión de música utilizando la API de Spotify. Desarrollé tanto el backend con FastAPI para la gestión de datos y autenticación, como el frontend con Angular para una interfaz dinámica y fácil de usar. Implementación de Docker en un VPS para el despliegue de la aplicación, mejorando la escalabilidad y eficiencia operativa del sistema. Logré integrar múltiples funcionalidades de Spotify, como la búsqueda de canciones y artistas, creando una experiencia interactiva para el usuario.',
	}
]

---

<ol class="relative border-s border-gray-700">
	{
		EXPERIENCE.map(experience => (
			<li class="mb-10 ms-4">
				<ExperienceItem {...experience} />	
			</li>
		))
	}            
</ol>

