---
import ExperienceItem from './ExperienceItem.astro';


const EXPERIENCE = [
	{
		title: 'Backend Developer',
		company: 'Evaluar.com',
		init_date: 'April 2025',
		end_date: 'Present',
		description: 'Design and development of efficient, scalable backend solutions for enterprise applications. Implementation of AI-powered solutions using LangGraph for workflow orchestration. Collaboration with cross-functional teams to deliver reliable and modular backend services. Focus on system performance optimization and maintainability.',
	},
	{
		title: 'Scripting Jr Executive',
		company: 'Kantar Millward Brown',
		init_date: 'August 2023',
		end_date: 'September 2024',
		description: 'Development of scripts focused on survey creation for data collection and analysis, providing valuable insights through process automation. Utilization of advanced programming tools to optimize tasks and improve business decision-making efficiency.',
	},
	{
		title: 'FullStack Developer',
		company: 'Freelance',
		init_date: 'May 2023',
		end_date: 'August 2023',
		description: 'Created a web application for music management using the Spotify API. Developed both the backend with FastAPI for data management and authentication, and the frontend with Angular for a dynamic and user-friendly interface. Implemented Docker in a VPS for application deployment, improving system scalability and operational efficiency. Successfully integrated multiple Spotify functionalities, such as song and artist search, creating an interactive user experience.',
	}
]

---

<ol class="relative border-s border-gray-700">
	{
		EXPERIENCE.map(experience => (
			<li class="mb-10 ms-4">
				<ExperienceItem {...experience} />	
			</li>
		))
	}            
</ol>

