<footer class="bg-firstRed p-4 text-center mt-12">
    <p>
        <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="Creative Commons" class="inline-block h-6 w-6">
        2024 Cristian Guzmán. This work is licensed under a 
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer" class="text-black underline">
            Creative Commons Attribution 4.0 International License.
        </a>
    </p>
</footer>