---

---
<header class="sticky z-10 top-0 flex items-center justify-center mt-5 pb-6">
  <nav class="bg-firstRed bg-opacity-100 rounded-full flex items-center justify-evenly p-1 w-4/5 md:lg:w-2/3 gap-3 md:lg:gap-5 mt-2 text-1xl text-white shadow-md">
    <a href="#init">Home</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#about_me">About me</a>
  </nav>
</header>