---
import ThemeIcon from './ThemeIcon.astro';
---
<header class="sticky top-0 flex items-center justify-center mt-5 pb-6">
  <nav class="bg-firstRed bg-opacity-100 rounded-full flex items-center justify-evenly p-1 w-4/5 md:lg:w-2/3 gap-3 md:lg:gap-5 mt-2 text-1xl text-white shadow-md">
    <a href="#init">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about_me">Sobre mi</a>
    <!--<ThemeIcon />-->
  </nav>
</header>