---
import StudyItem from "./StudyItem.astro"


const STUDY = [
    {
        title: 'Ingeniería de Sistemas',
		company: 'Universidad Distrital Francisco José de Caldas',
		init_date: 'Agosto 2019',
		end_date: 'Actualidad',
		description: 'Cursando la fase final del programa, con enfoque en el desarrollo de soluciones tecnológicas avanzadas. He llevado a cabo múltiples proyectos que abarcan desde la programación en diversos lenguajes hasta la implementación de arquitecturas de sistemas, mejorando mis competencias en desarrollo web, bases de datos y gestión de proyectos. Actualmente, en proceso de grado.',
    },
    {
        title: 'Técnico de Sistemas',
		company: 'Servicio Nacional de Aprendizaje - SENA',
		init_date: 'Febrero 2017',
		end_date: 'Diciembre 2018',
		description: 'Formación sólida en fundamentos de programación y administración de bases de datos utilizando Access. Desarrollo de habilidades prácticas en resolución de problemas técnicos, mantenimiento de sistemas informáticos y redes. Durante esta formación, participé en diversos proyectos que me permitieron adquirir una comprensión profunda de la infraestructura tecnológica y cómo se aplica en el mundo empresarial.',
    }
]

---
<div class="flex gap-5 justify-center flex-col md:lg:flex-row">
    {
        STUDY.map(study => (
            <div class=" bg-secondDarkGray border border-firstRed rounded-lg shadow  max-w-xl">
            <StudyItem {...study} />
        </div>
    ))
    }
<div/>
