---
import StudyItem from "./StudyItem.astro"


const STUDY = [
    {
        title: 'Systems Engineering',
		company: 'Universidad Distrital Francisco José de Caldas',
		init_date: 'August 2019',
		end_date: 'Present',
		description: 'Currently in the final phase of the program, focusing on developing advanced technological solutions. I have carried out multiple projects ranging from programming in various languages to implementing system architectures, improving my skills in web development, databases, and project management. Currently in the graduation process.',
    },
    {
        title: 'Systems Technician',
		company: 'National Learning Service - SENA',
		init_date: 'February 2017',
		end_date: 'December 2018',
		description: 'Solid training in programming fundamentals and database administration using Access. Development of practical skills in technical problem solving, computer systems maintenance, and networks. During this training, I participated in various projects that allowed me to gain a deep understanding of technological infrastructure and its application in the business world.',
    }
]

---
<div class="flex gap-5 justify-center flex-col md:lg:flex-row">
    {
        STUDY.map(study => (
            <div class=" bg-secondDarkGray border border-firstRed rounded-lg shadow  max-w-xl">
            <StudyItem {...study} />
        </div>
    ))
    }
<div/>
